@import url('https://fonts.googleapis.com/css2?family=Linux+Biolinum:wght@400;700&family=Linux+Libertine:wght@400;700&display=swap');


@font-face {
    font-family: 'CardText';
    src: url('fonts/LinBiolinum_R.otf') format('opentype');
}

@font-face {
    font-family: 'CardTextBold';
    src: url('fonts/LinBiolinum_RB.otf') format('opentype');
}

@font-face {
    font-family: 'CardTextItalic';
    src: url('fonts/LinBiolinum_RI.otf') format('opentype');
}

@font-face {
    font-family: 'CardTitle';
    src: url('fonts/LinLibertine_R.otf') format('opentype');
}

body {
    font-family: 'CardText', 'Linux Biolinum O', sans-serif;
    margin: 0;
    color: #000000;
}

#header {
  text-align: center;
}

#content {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 70vh;
}

#cardContainer {
  width: 500px;
  min-width: 500px;
  height: 700px;
  min-height: 700px;
  position:relative;
  background-size: cover;
  cursor: move;
}

#cardCoverContainer {
  width: 500px;
  height: 700px;
  top:0px;
  position: absolute;
  z-index: 100; 
  background-color:#fff;
}   

#cardRenderContainer {
  width: 500px;
  height: 700px;
  top:0px;
  position: absolute;
  z-index: 100; 
}

#cardRenderLog {
  position: absolute;
  top: 720px;
  left: 100px;
}

.cardSection {
  padding: 0px;
}

#cardForm {
  padding: 10px;
  width: 100%;
}

#cardTitle {
  position: absolute;
  width: 500px;
  top:33px;
  font-wight:bold;
  letter-spacing: 0.5px;
  font-size: 27px;
  font-family: 'CardTitle', 'Linux Libertine Display O', serif;
  text-align: center;
}

#cardArtClip {
  position: absolute;
  width: 450px;
  height: 400px;
  left: 25px;
  top:60px;
  clip: rect(0px,450px,400px,0px);
}

#cardArt {
  position:relative;

}

#cardElementBackground {
  -webkit-border-radius:16px;
  position: absolute;
  background-size: cover;
  width: 500px;
  height: 700px;
}

#cardElement {
  font-size: 18px;
  position: absolute;
  top: 25px;
  right: 16px;
  width: 58px;
  height: 58px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#cardCostBubble {
  position: relative;
  top: 23px;
  left: 24px;
  width: 58px;
  height: 106px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-align: top;
}    

#cardCost {
  position: absolute;
  top: 28px;
  left: 27px;
  width: 54px;
  height: 46px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

#cardTypeLine {
  position: absolute;      
  top: 463px;
  left: 50px;
  width:400px;
  height:30px;

  font-size: 18px;
  font-family: 'CardText', 'Linux Biolinum O', sans-serif;
  letter-spacing: -0.5px;
  font-weight:bold;
}

#cardTypeBar {
  position:relative;
  top:-4px;
  padding-top:5px;
  padding-bottom:2px;
  padding-left:12px;
  padding-right:12px;
  margin-top:2px;
  margin-bottom: 2px;
  height:22px;
  min-width:40px;
  display: inline-block;
  background-size: cover;
  background-repeat: horizontal;
}

#cardTypeText {
  position:relative;
  bottom:0.5px;
} 

#cardTypePoint {
  position:relative;
  margin-top:2px;
  top:-2px;
  left:-6px;
  padding-top:7px;      
  margin-bottom: 2px;
  height:22px;
  min-width:32px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

#cardEffectContainer {
  position: absolute;      
  top: 496px;
  left: 40px;
  right:40px;
  bottom:60px;
  line-height: 140px;
  display:inline-block !important; 
  font-size: 21px;
  letter-spacing: -0.4px;
  font-family: 'CardText', 'Linux Biolinum O', sans-serif;
  vertical-align: middle;
}

#cardType {
  position: absolute;
  top: 463px;
  left: 28px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

#cardSpeed {
  position: absolute;
  bottom: 36px;
  right: 27px;
  width: 200px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

#cardStats {
  position: absolute;
  bottom: 36px;
  right: 27px;
  width: 240px;
  height: 30px;
  align-items: right;
  align-content: right;

}

#cardStatsFloater {
  float:right;
  display:inline-block;  
}

#cardPower, #cardLife, #cardDurability {
  width:50px;
  height: 28px;
  display:inline-block;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  color:#fff;
  font-size:24px;
  font-family: 'CardText', 'Linux Biolinum O', sans-serif, bold;
  text-align: center;
  vertical-align: middle;
  padding: 2px 0px 0px 20px;
}

#cardEffect {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}

#cardEffect img {
  vertical-align: middle;
  padding: 0px 1px 4px 1px;
}

.effect__icon {
  -webkit-border-radius:10px;
  background:#000;
  color:white;
  letter-spacing:0.2px;
  padding: 2px 7px 0px 7px;
  margin: 0px 0px 0px 0px;
  font-size:15px;
  offset-inline-start: 20px;
  text-align:top;
}

#cardSetRarity {
  position: absolute;
  bottom: 16px;
  left: 21px;
  width: 200px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  color:#fff;
  font-size: 11px;
  vertical-align: middle;
  font-family: 'CardText', 'Linux Biolinum O', sans-serif;      
}

#cardSetRarity img {
  vertical-align: middle;
  padding-bottom: 1px;
}

#cardCopyright {
  position: absolute;
  bottom: 15px;
  right: 21px;
  width: 200px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  color:#fff;
  font-size: 11px;
  text-align: right;
  letter-spacing:0.3px;

  font-family: 'CardText', 'Linux Biolinum O', sans-serif;      
}

#cardForm label {
  display: block;
}

#cardForm input, #cardForm select, #cardForm textarea, #cardForm .pseudoButton {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#cardForm textarea {
  height: 140px;
}

#cardForm button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   width: 100%;
}

#cardForm button:hover {
  background-color: #45a049;
}


@media (max-width: 1000px) {
  #content {
      flex-direction: column;
      align-items: center;
  }

  #cardForm {
      width: 100%;
      margin-top: 20px;
  }


}